.content {
  width: 80%;
  border-radius: 8px; /* 行的圆角效果 */
  padding: 10px;
  margin-bottom: 8px; /* 行与行之间的间隔 */
  margin: 0 auto; /* 居中 */
}
.content .table-row div {
  padding: 8px;
  text-align: center;
  color: #333;
}
.table-row {
  // background-color: #f0f8ff; /* 内容行的背景色 */
  border-radius: 8px; /* 行的圆角效果 */
  padding: 10px;
  margin-bottom: 8px; /* 行与行之间的间隔 */
}
